
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background:pink;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi-bold{
    font-weight: 500;
    font-size: 16px;
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}

.resume .resume_left{
    width: 280px;
    background: pink;
}

.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .resume_left .resume_profile img{
    width: 100%;
    height:100% ;
}

.resume .resume_left .resume_content{
    padding: 0 25px ;
}

.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
}

.resume .resume_right .bold{
    color: #800000;
}
.resume .resume_right .center{
    text-align: center;
    color: #800000;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 5px;
    margin: 5px;
    background: darkblue;
    height:2px;
    padding-top: 5px;
    margin-bottom: 50px;
    
    
}
.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul{
    padding-left: 40px;
    overflow: hidden;
}

.resume .resume_right {
    position: absolute;
    right: 274px;
    height: 1080px;
    margin-top: 50px;
}

.resume .resume_right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.resume .resume_right ul li .info{
    margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info{
    margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before{
    content:"";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}
.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after{
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 3px;
    height: 115px;
    background: #0bb5f4;
}
